<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Namespaces</key>
	<dict>
		<key></key>
		<dict>
			<key>prefix</key>
			<string>XSD</string>
			<key>suffix</key>
			<string></string>
			<key>name</key>
			<string></string>
		</dict>
		<key>http://sample.namespace.com/</key>
		<dict>
			<key>prefix</key>
			<string>SN</string>
			<key>suffix</key>
			<string></string>
			<key>name</key>
			<string>Sample Namespace</string>
		</dict>
	</dict>
	<key>XSD Objects Fields</key>
	<dict>
		<key>youCanAlsoUse.keyPath</key>
		<string>forKeyPath</string>
		<key>retain</key>
		<string>aRetain</string>
		<key>release</key>
		<string>aRelease</string>
		<key>entityForMappedFields</key>
		<string>anEntityForMappedFields</string>
		<key>description</key>
		<string>aDescription</string>
		<key>dictionaryInfo</key>
		<string>aDictionaryInfo</string>
	</dict>
</dict>
</plist>
